[submodule "refs/dstack"]
	path = refs/dstack
	url = https://github.com/Dstack-TEE/dstack.git
[submodule "refs/p2p-wg"]
	path = refs/p2p-wg
	url = https://github.com/amiller/dstack-examples.git
	branch = holepunch
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
