services:
  dstack-node:
    build: .
    environment:
      - CONTRACT_ADDRESS=${CONTRACT_ADDRESS:-0x9d22D844690ff89ea5e8a6bb4Ca3F7DAc83a40c3}
      - CONNECTION_URL=${CONNECTION_URL:-https://dstack-node.phala.network}
      - RPC_URL=${RPC_URL:-https://base.llamarpc.com}
      - DSTACK_SOCKET=${DSTACK_SOCKET:-/var/run/dstack.sock}
      - PRIVATE_KEY=${PRIVATE_KEY}
    volumes:
      - ./simulator/dstack.sock:/app/simulator/dstack.sock
    ports:
      - "${NODE_PORT:-8080}:8080"